.container-layout {

}
.column1 {
 

}

.column2-row2 {
  grid-area: column2-row2;
  font-size: small;
  overflow: auto;
}

.column1-row1 {
  width: 100px;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 4px;
  color: #777;
  font-family: "Archivo", sans-serif;
}
