*body {
  background-color: #f8f8f8;
}
.about-heading {
  margin-top:100px;
  font-family: "Old Standard TT", serif;
  text-align: center;
  font-size: 80px;
  line-height: 1.125;
  letter-spacing: -1px;
  padding: 0 180px;
}
.grid-layout {
  display: flex;
}
.grid-layout-item {
  height: 450px;
  border: #bead8e;
  justify-content: center;
}
/* .grid-layout-item > div {
  height: 280px;
} */

.about-section-image {
  height: 75px;
  width: 75px;
  color: #bead8e;
}

.about-image-card {
  top: 15%;
  position: relative;
}

.grid-item1 {
  position: relative;
  top: 10%;
}
.grid-item2 {
  position: relative;
  top: 30%;
}
.grid-item3 {
  position: relative;
  top: 50%;
}
.grid-item4 {
  position: relative;
  top: 30%;
}
.grid-item5 {
  position: relative;
  top: 10%;
}
.MuiGrid2-root {
  overflow: hidden;
}
.grid-layout-item > div {
  height: 180px;
  width: 90%;
}
.grid-layout-item > div:hover {
  background-color: #bead8e;
}
